<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.springcore.Student" name="student" p:studentId="011201061" p:studentName="Abir" p:studentAddress="Badda"/>


    <!--        <property name="studentId" value="123" />-->
    <!--        <property name="studentName" value="Prince" />-->
    <!--        <property name="studentAddress" value="Rampura" />-->

    <!--    <property name="studentId">-->
    <!--        <value>011201061</value>-->
    <!--    </property>-->

    <!--    <property name="studentName">-->
    <!--        <value>Abir</value>-->
    <!--    </property>-->

    <!--    <property name="studentAddress">-->
    <!--        <value>Badda</value>-->
    <!--    </property>-->


</beans>